@import url('https://fonts.googleapis.com/css2?family=Roboto+Sans:wght@600&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
}
 .home-grid{
    width: 630px;
    margin: 0px auto;
 }

header{
    color: white;
    font-weight: bolder;
    height:  70px;
    background: linear-gradient(60deg, #1C2E46 0%, #2F4D75 100%);
    border-radius: 15px;
    padding: 5px;
    max-width:  630px;
}

h1{
    font-weight: bolder;
    width: auto;
    height: 50px;
    font-size: 2.2em;
    margin: 10px auto 0px 35px ;
}

#profile-pic{
    border-radius: 0 15px 0 0;
    float: right;
    margin: 10px ;
    box-shadow: 6px 6px 10px 0 #808080;
    margin-top: 10px;
}

.page-content{
    margin-top: 10px;
    width: 100%;
    min-height: 100%;
    height: auto;
}

.page-content h2{
    width: 74.5%;
    margin: 20px 0px 5px 15px ;
    border-bottom: 2px solid grey;
    padding-bottom: 0px;
}

nav ul{
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 50px;

}

nav ul li{
    padding-bottom: 5px;
}

nav ul li a{
    transform: rotate(180deg);
}

nav ul li a:hover{
    transform: rotate(0deg);
}

footer{
    background: linear-gradient(60deg, #2F4D75 0%, #1C2E46 100%);
    color: white;
    height: 65px;
    border-radius: 15px;
    padding: 5px;
    margin-top: 0px;
    max-width:  630px;
}

.inner-footer ul {
    list-style: none;
    padding: 10px 0px;
    text-align: center;
}

.inner-footer ul li{
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    border-right: 1px solid white;
    font-size: 13.5px;
}

.inner-footer > ul li:nth-child(3){
    padding-right: 0px;
    border-right:none;
}

.inner-footer > ul li:nth-child(4){
    padding-left: 0px;
    border-right:none;
}

.inner-footer > ul li:nth-child(5){
    color: white;
    border-right:none;
}

.inner-footer ul li a{
    color: white;
}

#lastUpdated{
    text-align: center;
    color: yellow;
    margin-bottom:0px;
}



