@media screen and (min-width: 561px) and (max-width: 999px){
    header, footer{
       margin-left: 10px;
    }

    .home{
        margin: 0px;
    }

    .page-content {
        grid-template-columns: 1fr 1fr;
    }

   .page-content img {
        margin-top: 20;
        margin-right:20px;
        margin-left: 0px;
    }

    .page-content section:nth-child(2) {
        display: block;
    }

    .page-content section:nth-child(3) {
        grid-column: span 2;
        padding: 0 10rem;
    }

    .page-content section img {
        display: block;
    }

}