@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

header {
    font-weight: bolder;
    height: 126px;
    max-width: 960px;
    background: linear-gradient(60deg, #1C2E46 0%, #2F4D75 100%);
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
}

header h1 {
    font-weight: bolder;
    height: 50px;
    font-size: 2.2em;
    text-align: center;
    margin: 10px 15px 0px 15px;
}

header h2 {
    margin: 20px 0px 5px 15px ;
    padding-bottom: 5px;
    border-bottom: none;
}

h1, h2, h3{
    text-align: center;
    color: white;
}

main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.25em;
    max-width: 960px;
    margin: 0 auto;
    color: #000;
}

main section {
    argin: 10px 15px;
    padding: 0;
    margin: 10px;
    background-color: white;
    border-bottom: 2px solid grey
}

 main section h3 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-weight: bolder;
    height:  20px;
    padding: 8px 5px 10px 5px;
    background: linear-gradient(60deg, #303030 0%, #406AA0 100%);
}

h4{
    margin: 15px 1px 5px 1px;
    padding-left: 10px;
}

 section figure {
    display: block;
    width: 90%;
    margin: 10px auto;
}
 section figure img {
    width: 100%;
    height: auto;
}

section i a{
    text-decoration: none;
    font-size: 19px;
    color: #3E54FF;
    font-weight: 400;
    padding-left: 10px;
}

section i a:hover{
    color: #FF3B29;
}

section p {
    margin-top: 10px;
    text-align: center;
    padding: 15px;
}

footer{
    background: linear-gradient(60deg, #2F4D75 0%, #1C2E46 100%);
    color: white;
    height: 65px;
    border-radius: 5px;
    padding: 5px;
    margin: 0px auto ;
    max-width: 960px;
}

.inner-footer ul {
    list-style: none;
    adding: 0px 30px 0px 20px;
    ext-align: enter;
    margin:0px;
    idth: 100%;
    text-align: center;
}

.inner-footer ul li{
    idth: 100;
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
    border-right: 1px solid white;
    font-size: .8rem;
}

.inner-footer > ul li:nth-child(3){
    padding-right: 0px;
    border-right:none;
}

.inner-footer > ul li:nth-child(4){
    padding-left: 0px;
    border-right:1px solid white;
}

.inner-footer > ul li:nth-child(5){
    color: white;
    border-right:none;
}

.inner-footer ul li a{
    color: white;
}

span img{
    max-width: 100%;
    margin-top: 5px;
    height: 10px;
}

#lastUpdated{
    text-align: center;
    color: yellow;
    padding-top: 5px;
    margin:0px 0px 3px;
}