@media only screen and (min-width:360) {


main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 16px;
}

img {
    max-width: 200px;
    max-height: auto;
    padding: 10px;
}

section {
    padding: 10px;
    background-color: gray;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    align-content: center;
    margin: 10px;
    border-style: solid;
    border-color: lightsteelblue;
}
}