@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    padding: 50px 50px 50px 50px;
    max-width: 100%;
}
 .home-grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 7% 20%;
    grid-gap: .5em;
    grid-template-rows: 15% 50% 40% 50% 50%;
    width: 100%;
    margin: 0px auto;
 }

header{
    grid-column-start: 2;
    grid-column-end: 5;
    color: white;
    font-weight: bolder;
    display: grid;
    height:  70px;
    background: linear-gradient(60deg, #1C2E46 0%, #2F4D75 100%);
    border-radius: 15px;
    padding: 5px;
    width: 100%;
}

h1{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 50px;
    width: 350px;
    font-size: 250%;
    margin: 10px auto 0px 35px ;;
}

.profile-pic{
    border-radius: 0 15px 0 0;
    grid-column-start:3 ;
    grid-column-end: ;
    grid-row-start: 1;
    margin: 10px 10px 10px 80px;
    box-shadow: 6px 6px 10px 0 #808080;
    z-index: 1;
    margin-top: 10px
}

.page-content{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    margin-top: 30px;
    z-index: 0;
    width: 100%;
    height: 0px;
    background-color: red;
}

h2{
    width: 75%;
    margin: 20px 0px 5px 15px ;
    grid-row-start: 2;
    grid-row-end: 4;
    border-bottom: 2px solid grey;
    padding-bottom: 10px;
}

nav ul{
    padding-left: 50px;
    margin-bottom: 50px;

}

nav ul li{
    padding-bottom: 5px;
}

nav ul li a{
    transform: rotate(180deg);
}

footer{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    background: linear-gradient(60deg, #2F4D75 0%, #1C2E46 100%);
    color: white;
    height: 65px;
    border-radius: 15px;
    padding: 5px;
    margin-top: 0px;
    width: 100%;
}

.inner-footer ul {
    list-style: none;
    padding: 15px 25px 3px 70px;
}

.inner-footer ul li{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid white;
    font-size: 15px;
}

.inner-footer > ul li:nth-child(3){
    padding-right: 0px;
    border-right:none;
}

.inner-footer > ul li:nth-child(4){
    padding-left: 0px;
    border-right:one;
}

.inner-footer > ul li:nth-child(5){
    color: white;
    border-right:none;
}

.inner-footer ul li a{
    color: white;
}

#lastUpdated{
    text-align: center;
    color: yellow;
    margin-top:0px;
}
