img {
  max-width: 100%;
}

.card {
  width: 320px;
  box-shadow: 1px 1px 4px 1px #888;
  border-radius: 4px;
  background-color: white;
  overflow: hidden;
}

p {
  padding: 10px;
}

.viewButton {
    color: #888;
    margin: 0px 0px 10px 10px;
    padding: 5px;
    border-top: 1px solid #888;
    border-right: 0px;
    border-bottom: 1px solid #888;
    border-left: 1px solid #888;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
}

.editButton {
    color: #888;
    margin: 0px 0px 10px -4px;
    padding: 5px;
    border: 1px solid #888;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
}

.viewButton:hover,.editButton:hover {
   background-color: #888;
   color: black;
}

span {
  color: #888;
  margin: 5px 20px 0px 0px;
  float: right;
}