/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2% 1.5rem;
    background-color: #1C2E46;
}

/***********************Logo Icon animation*************************************************************************/
header #container {
    float: left;
    max-width: 8em;
    max-height: 5.5em;
    padding: .5em;
    color: #161616;
    background-color:  #1C2E46;
}

.icon {
    position: relative;
    display: inline-block;
    width: 12em;
    height: 10em;
    font-size: 1em; /* control icon size here */
}

.cloud {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 3.6875em;
    height: 3.6875em;
    margin: -1.84375em;
    background: currentColor;
    border-radius: 50%;
    box-shadow:
        -2.1875em 0.6875em 0 -0.6875em,
        2.0625em 0.9375em 0 -0.9375em,
        0 0 0 0.375em #fff,
        -2.1875em 0.6875em 0 -0.3125em #fff,
        2.0625em 0.9375em 0 -0.5625em #fff;
}

.cloud:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -0.5em;
    display: block;
    width: 4.5625em;
    height: 1em;
    background: currentColor;
    box-shadow: 0 0.4375em 0 -0.0625em #fff;
}
.cloud:nth-child(2) {
    z-index: 0;
    background: #fff;
    box-shadow:
        -2.1875em 0.6875em 0 -0.6875em #fff,
        2.0625em 0.9375em 0 -0.9375em #fff,
        0 0 0 0.375em #fff,
        -2.1875em 0.6875em 0 -0.3125em #fff,
        2.0625em 0.9375em 0 -0.5625em #fff;
    opacity: 0.3;
    -webkit-transform: scale(0.5) translate(6em, -3em);
                    transform: scale(0.5) translate(6em, -3em);
    -webkit-animation: cloud 4s linear infinite;
                    animation: cloud 4s linear infinite;
}
.cloud:nth-child(2):after { background: #fff; }



/* Animations */

@-webkit-keyframes cloud {
    0% { opacity: 0; }
    50% { opacity: 0.3; }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.5) translate(-200%, -3em);
                        transform: scale(0.5) translate(-200%, -3em);
    }
}

@keyframes cloud {
    0% { opacity: 0; }
    50% { opacity: 0.3; }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.5) translate(-200%, -3em);
                        transform: scale(0.5) translate(-200%, -3em);
    }
}
/***********************Logo Icon animation end*************************************************************************/

header h1 {
    margin: 8px 0 0 0;
    font-size: 2.5rem;
    color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
    color: white;
}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #212121;
    padding: 0px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: #3D3D3D;
    color: white;
}

nav ul li.active a {
    background-color: #1C2E46;
    color: #FCFCFC;
    font-weight: 600;
}

/*----------- MAIN --------------*/
main {
    padding: 0 2% 2%;
    min-height: 10rem;
    background-color: #EEEBD0;
    margin-bottom: 1rem;
}

main h1{
    margin-top: .6rem;
    padding-top: .5rem;
    text-shadow: 3px -2px 2px #fff;
    text-align: center;
    font-family: fantasy;
    font-size: 2.5rem;
    font-weight: lighter;
}

figure{
    margin:0rem 10rem 0rem 1rem;
        max-width: 50px;
}

main div img{
    width: 100%;
    height: auto;
}

/*----------- FOOTER --------------*/
footer{
    background-color: #333333;
    color: white;
    height: 75px;
    padding: 5px;
    margin: 0px auto ;
    max-width: 960px;
}

.inner-footer ul {
    list-style: none;
    margin:0px;
    padding: 3px 0px;
    text-align: center;
}

.inner-footer ul li{
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    border-right: 1px solid white;
    font-size: .8rem;
}

.inner-footer > ul li:nth-child(3){
    padding-right: 0px;
    border-right:none;
}

.inner-footer > ul li:nth-child(4){
    padding-left: 0px;
    border-right:1px solid white;
}

.inner-footer > ul li:nth-child(5){
    color: white;
    border-right:none;
}

.inner-footer ul li a{
    color: white;
}

 span img{
    max-width: 100%;
    margin-top: 5px;
    height: 10px;
    border: none;
}

#lastUpdated{
    text-align: center;
    color: yellow;
    padding-top: 5px;
    margin:0px 0px 3px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*----- Media query for phones -----*/

